<!DOCTYPE html>
<html>
  <head>
    <title> CS 467 Email Visualisation </title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="../static/d3.layout.cloud.js"></script>
    <link href="../static/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootflat.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootflat-extensions.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootflat-square.css" rel="stylesheet" media="screen">
    <link href="../static/css/viz.css" rel="stylesheet" media="screen">
  </head>
  <body>
<script>

  var fill = d3.scale.category20();
  var div = "";

function start(dict, divstring){
      div = "#viz-" + divstring;
      array = Object.keys(dict);

      d3.layout.cloud().size([300, 300])
      .words(array.map(function(d) {
        return {text: d, size: dict[d] * 10};
      }))
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) {return d.size; })
      .on("end", draw)
      .start();
}

  function draw(words) {
    d3.select(div).append("svg")
        .attr("width", 300)
        .attr("height", 300)
        .append("g")
        .attr("transform", "translate(150,150)")
        .selectAll("text")
        .data(words)
        .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>
<div class="container">

  <div class="container block padded">
          <a class="btn btn-square btn-inverse btn-format" href="/viz/month">Month</a>
          <a class="btn btn-square btn-square btn-format" href="/viz/year">Year </a>
    </div>
        	{% for year in emails %}
        		{% for month in mth %}
        			{% if emails[year][month] %}

        		<div id="viz-{{year}}{{month}}"><h3> {{ month }}, {{ year }} </h3></div>
        			<script>
          				start( {{ emails[year][month]|safe }} , "{{year}}{{month}}");
          			</script>
        			{% endif %}
        		{% endfor %}
        	{% endfor %}

        </p>
<div>
</div>
      </div>
  </body>
</html>

